doctype 5
html
  head
    title Mimosa
    link(rel='stylesheet', href='/stylesheets/vendor/fontawesome/css/font-awesome.css' + cachebust)
    link(rel='stylesheet', href='/stylesheets/style.css' + cachebust)

    if reload
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/reload-client.js')

    if optimize
      script(src='/javascripts/main-built.js')
    else
      script(src='/javascripts/vendor/requirejs/require.js', data-main='/javascripts/main.js')

  body
    .col-md-5
      .container-fluid
        .row
          #totalsRegion.col-sm-3.col-md-12
          .col-md-12.visible-md
            hr
          #chartsRegion.col-sm-9.col-md-12
    hr.visible-sm
    .col-md-7
      #sortbyRegion(style="float:left")
      #displayRegion
      #listRegion
