.container-fluid
  #mainRow.row
    .col-md-6.col-sm-4
      .well.well-sm(style="font-size: 12px; text-align:right;color:rgb(140,140,140)")
        em(style="float:left") key
        div(style="clear:left")
          | At Risk&nbsp;
          i.fa.fa-circle.fa-lg.at-risk
          &nbsp;
          i.fa.fa-asterisk.approaching-risk.invisible
        div(style="padding-top:4px")
          | Approaching Risk&nbsp;
          i.fa.fa-circle.fa-lg.approaching-risk
          &nbsp;
          i.fa.fa-asterisk.approaching-risk
        div(style="padding-top:4px")
          | Below Average&nbsp;
          i.fa.fa-circle.fa-lg.below-average
          &nbsp;
          i.fa.fa-asterisk.approaching-risk.invisible
        div(style="padding-top:4px")
          | Thriving&nbsp;
          i.fa.fa-circle.fa-lg.thriving
          &nbsp;
          i.fa.fa-asterisk.approaching-risk.invisible
